<div class="content">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">In stock</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (products && products.length> 0){ %>
                    <% products.forEach((product, index)=> { %>
                        <tr>
                            <th scope="row">
                                <%= index + 1 %>
                            </th>
                            <td class="text-capitalize">
                                <a href="<%= product.url %>" class="link-offset-2 fw-bold"><%= product.name %></a>
                                
                            </td>
                            <td class="text-capitalize">
                                <%= product.category.name %>
                            </td>
                            <td>
                                <%= product.number_in_stock %>
                            </td>
                            <td>&#x20A6;<%=" "%><%= product.price.toLocaleString("en-US") %>
                            </td>
                            <td class="text-center">
                                <div class="row g-0">
                                    <div class="col-6">
                                        <span><a href="<%= product.url + '/edit' %>"><i class="fa-solid fa-pen-to-square text-primary fs-4"></i></a></span>
                                    </div>
                                    <div class="col-6">
                                        <span><i class="fa-solid fa-trash-can text-danger fs-4"></i></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>