<div class="content">

    <% if (errors && errors.length > 0){ %>
        <% errors.forEach((error) => { %>
            <div class="alert alert-danger" role="alert">
                <%= error.msg %>
              </div>
        <% }) %>
    <% } %>

    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= product_info.name || '' %>"/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"><%= product_info.description || "" %></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="category" id="category">
                <option value="">Select product category ...</option>
                <% if (category){ %>
                    <% category.forEach((cat)=> { %> <% 
                        const product_name=cat.name.split(" ").map((el)=>el.charAt(0).toUpperCase() + el.slice(1)).join(" ") %>
                        <option value="<%= cat._id %>" <%= cat.selected ? 'selected' : '' %>><%= product_name %></option>

                    <% }) %>
                <% } %>
            </select>
        </div>

        <div class="row">
            <div class="col">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" min="1" name="price" value="<%= product_info.price || '' %>"/>
            </div>
            <div class="col">
                <label for="number_in_stock" class="form-label">No. in Stock</label>
                <input type="number" class="form-control" id="number_in_stock" min="0" name="number_in_stock" value="<%= product_info.number_in_stock || '' %>"/>
            </div>
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Category Image</label>
            <input type="file" accept="image/*" class="form-control" id="avatar" name="avatar" />
        </div>

        <button class="btn btn-primary btn-large">Add Product</button>
    </form>
</div>