<%- include('partials/header') %>

<% if (user) { %>
  <%- include('partials/nav_header') %>
  
  <div class="container-fluid">
    <div class="row">
      
        <%- include("partials/menu_bar") %>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <% if (item) { %>
            <p><span class="titlee fst-italic p-1 bg-primary rounded text-white">Category:</span> <%= title %></p> 
          <% } else { %>
              <h1 class="titlee text-capitalize"><%= title %> </h1>
          <% } %>
        </div>

        <!-- Main content will be injected here -->
        <%- body %>
  
      </main>
    </div>
  </div>

  <%- include('partials/footer') %>
<% } %>
