<div class="content item">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-3">
                <div class="wrapper img_card">
                    <div class="image_product_wrapper">
                        <img src="<%= product.product_secure_url %>" alt="<%= product.product_secure_url %>" class="product-image">
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-3">
                <div class="p_details">
                    <h2 class="text-capitalize"><%= product.name %></h2>
                    <hr>
                    <span class="text-primary fst-italic fw-bold">In Stock: <%= product.number_in_stock %></span>

                    <div class="product-description">
                        <%- product.description.split('\n').filter(line => line.trim() !== '').map(line => `<p class="lh-lg pt-4">${line.charAt(0).toUpperCase() + line.slice(1)}</p>`).join('') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
