<div class="row row-cols-1 row-cols-md-3 g-4 px-5">

    <% if (products && products.length> 0){ %>

      <% products.forEach((product, index)=> { %>
        <% const backgroundColors = ['#FFC0CB', '#98FB98', '#ADD8E6', '#FFD700', '#FFA07A']; %>
        <% const randomColor = backgroundColors[index % backgroundColors.length]; %>
        <div class="col">
          <div class="card h-100 border border-0">
            <div class="image_wrapper">
              <img src="<%= product.product_secure_url %>" class="card-img-top" alt="<%= product.name %>">
            </div>
            <div class="card-body p_body">
              <div class="product_name_wrapper">
                <p class="card-text text-capitalize p_name">
                  <%= product.name %>
                </p>
              </div>
              <div class="row d-flex align-items-center justify-content-between">
                <div class="col-7">
                  <p class="card-text fw-bolder price">&#x20A6;<%=" "%><%= product.price.toLocaleString('en-US') %></p>
                </div>
                <div class=" col-5 text-end">
                      <p class="card-text fw-medium stock_status">In Stock: <%= product.number_in_stock %></p>
                </div>
              </div>
              <div class="add_to_cart">
                <button class="btn btn-primary w-100 mt-3">Add to Cart</button>
              </div>
              <div class="category-wrapper mt-3">
                <span class="card-text category" style="background-color: <%= randomColor %>;">
                  <%= product.category.name %>
                </span>
              </div>
            </div>
          </div>
        </div>

        <% }) %>
          <% } else { %>
            <p>No product found!</p>
            <% } %>


  </div>